src/.vs/
src/Autodictor/obj/
src/Autodictor/bin/
src/packages/
src/Communication/obj/
src/Communication/bin/
src/CommunicationDevices/obj/
src/CommunicationDevices/bin/
src/Library/obj/
src/Library/bin/
src/WCFAvtodictor2PcPanelContract/bin/
src/WCFAvtodictor2PcPanelContract/bin/
src/WCFCis2AvtodictorContract/bin/
src/WCFCis2AvtodictorContract/bin/

